h1 {
	font-size:24px;
	font-family: 'Archivo Narrow', 'Gill Sans', Arial, sans-serif;
	color: #006699;
	margin: auto;
	display:block;
}
body {
	
	margin-top: 40px;
	width: 700px;
	padding: 15px;
	background: white;
	position:absolute;
	left:0px;
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
}
img {
	float:right;
	padding-left: 15px;
	padding-top:-20px;
	width:350px;

}
p{
	font-size: 12px;
	font-family:Arial, sans-serif;
	color:#666666;
	display:inline-block;
}
a{
	font-size: 12px;
	font-family:Arial, sans-serif;
	color:#666666;
}
html {
	  background: url(bostonBW.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}