h1 {
	font-size:12px;
	font-family: 'Gill Sans', Arial, sans-serif;
	color: #006699;
	margin: auto;
	display:block;
}
body {
	margin: auto;
	margin-top: 40px;
	width: 700px;
	padding: 15px;
	border: 1px solid #cccccc;
	border-radius: 5px;
	background: white;
}
img {
	float:right;
	padding-left: 15px;
	padding-top:-20px;
	width:350px;

}
p{
	font-size: 12px;
	font-family:Arial, sans-serif;
	color:#666666;
	display:inline-block;
}
a{
	font-size: 12px;
	font-family:Arial, sans-serif;
	color:#666666;
}
html {
	background-color:#F0F0F0;
}