h1 {
	font-size:14px;
	font-family: 'Gill Sans', Arial, sans-serif;
	font-color: #666666;
	margin: auto;
	display:block;
}
body {
	margin: auto;
	margin-top: 20px;
	width: 800px;
	padding: 15px;
	border: 1px solid #cccccc;
	border-radius: 5px;
}
img {
	float:right;
	padding-top: 10px;
	width:400px;

}
p{
	font-size: 12px;
	font-family:Arial, sans-serif;
	color:#666666;
	display:inline-block;
}
a{
	font-size: 12px;
	font-family:Arial, sans-serif;
	color:#666666;
}